
<!DOCTYPE html>
<html>
<head>
    <title>StudyBuddy</title>
    <link rel="stylesheet" type="text/css" href="static/styles.css"> 

</head>
<body background>
    <div class=header>
         <img src='static/sb_icon.png' class=logo>
    </div>
    <div class=content>
        Grade for your answer: <b><big>{{ grade }} / 10</big></b> 
        Your total grade: <b><big>{{ total_grade}} / {{ max_grade }}</big></b> 
        <div class=question>
            <h3>The question:</h3>
            {{ question }} 
            <h3>Your answer:</h3>
            {{ answer }} 
          
        </div>
        <div class=answer>
            <form method="post" action="/next"> 
                <button type="submit" name="button_action" class=button value="next">next question</button>
                <button type="submit" name="button_action" class=button value="explain">explain grade</button>
                <button type="submit" name="button_action" class=button value="history">show history</button>
                <button type="submit" name="button_action" class=button value="end">end</button>
            </form>
        </div>
    <div>
</body>
</html>