<!DOCTYPE html>
<html>
<head>
    <title>StudyBuddy</title>
    <link rel="stylesheet" type="text/css" href="static/styles.css"> 
</head>
<body background>
    <div class=header>
         <img src='static/sb_icon.png'>
    </div>
    <div class=content>
        <form method="POST" enctype="multipart/form-data">
            <h1 class=welcome>Welcome to Your Personal IR Exam Training</h1>
            <div>
                This AI is your personal trainer for your exam in modern Information Retreival (IR).
                Upload a chapter from your IR textbook and StudyBuddy will you ask questions about it.
            </div>
            <div class=file-section>
                <input type="file" name="file" accept=".pdf" required>
                <button type="submit" class=button>Upload</button>
            </div>
        </form>
    <div>
</body>
</html>